header {
    height: 100vh;
    position: relative;
    background-blend-mode: multiply;
    background-image: url("../images/header-bg.jpg");
    background-color: rgba(0, 161, 235, 0.5);
    background-size: cover;
    width: 100%;
    color: #ffffff;
}

.hamburger-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hamburger-menu #menu-toggle {
    display: none;
}

.logo {
    padding: 3em 0 3em 3em;
    font-size: 1.5em;
    margin-right: auto;
}

#swieze, #ryby, #com {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}

#swieze {
    font-weight: bold;
}

#com {
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}

.menu-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3em 3em 3em 0;
}

.menu-box a {
    padding-right: .625em;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: .875em;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

a[href="tel:500110110"] {
    background-color: var(--blue);
    border-radius: 5px;
    padding: .625em;
}

.main-header {
    padding-top: .75em;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .25em;
    margin: .25em;
}

.main-subheader {
    font-family: Hind, sans-serif;
    font-size: 1.375em;
    text-align: center;
    letter-spacing: .25em;
    padding: 0;
    margin: 0;
}
