@import url('https://fonts.googleapis.com/css?family=Hind:400,700|Montserrat:200,400,700&display=swap');
@import url('header.css');
@import url('about-us.css');
@import url('assortment.css');
@import url('cooperation.css');
@import url('contacts.css');
@import url('footer.css');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --blue: #00a1eb;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

