@import url('https://fonts.googleapis.com/css?family=Hind:400,700|Montserrat:200,400,700&display=swap');
@import url('header.css');
@import url('o-nas.css');
@import url('asortyment.css');
@import url('advantages.css');
@import url('kontakt.css');
@import url('footer.css');

html {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        color: #413d4b;
        scroll-behavior: smooth;
}
